@font-face {
  font-family: 'Proxima Nova';
  src:
    url('path-to-your-font/ProximaNova-Regular.woff2') format('woff2'),
    url('path-to-your-font/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src:
    url('path-to-your-font/ProximaNova-Bold.woff2') format('woff2'),
    url('path-to-your-font/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Proxima Nova Light', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #434b54;
}

h1,
h2 {
  font-weight: bold;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  font-family: 'Proxima Nova Bold', Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  background-color: #3778c2;
}

.btn {
  color: #fff;
  background-color: #3778c2;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  font-family: 'Proxima Nova Bold', Arial, sans-serif;
}

.back-icon::before {
  content: '\2190';
  font-size: 2.5rem;
  color: #fff;
}

.links {
  margin-top: 10px;
  display: flex;
  gap: 12px;
  color: #434b54;
}

.links a:first-child {
  border: 1px solid #3778c2;
  padding: 10px;
  border-radius: 5px;
  margin-left: 30px;
}

.links a:last-of-type {
  border: 1px solid #3778c2;
  padding: 10px;
  border-radius: 5px;
}

.email-input,
.password-input,
.name-input,
.pass-input,
.newp-input {
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 20px;
}

/* Remember me checkbox styles */
.remember-me {
  margin: 10px 20px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

/* Submit button styles */
.login-button {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #5fb523;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 18px;
}

footer a#login {
  background-color: #3778c2;
  width: 100%;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
}

footer a#signup {
  background-color: #fff;
  color: #434b54;
  width: 100%;
  padding: 20px;
  border-radius: 4px;
}

.budget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 18rem;
  color: #434b54;
}

input[type="submit"] {
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-transaction,
.add-category {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #5fb523;
  bottom: 0;
  position: fixed;
  width: 100%;
  color: #fff;
  padding: 20px;
}

.button {
  background-color: #5fb523;
}

.add-category input[type="submit"],
span {
  border: 1px solid #fff;
  padding: 10px 6rem;
  font-size: 18px;
}

/* part of category */
.category-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.category-link {
  width: 100%;
  color: #434b54;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
}

.category-link:hover {
  background-color: #f4f4f4;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-icon {
  font-size: 20px;
}

img {
  width: 100px;
  height: 100px;
}

.form {
  width: 350px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 18px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select {
  width: 60%;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px #0000001a;
}

.expense-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expense-date {
  color: #888;
}

/* style for mune bar */

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}
