* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #434b54;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 10px 20px;
  background-color: #3778c2;
  border-bottom: 1px solid #e5e5e5;
}

.back-icon::before {
  content: '\2190';
  font-size: 2.5rem;
}

.email-input,
.password-input,
.name-input,
.pass-input,
.newp-input {
  width: 90%;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 20px;
}

/* Remember me checkbox styles */
.remember-me {
  margin: 10px 20px;
}

.remember-me input[type="checkbox"] {
  margin-right: 5px;
}

/* Submit button styles */
.login-button {
  width: 90%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #5fb523;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px;
}
